* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Arial", sans-serif; }

.clear {
  clear: both; }

#block {
  position: relative;
  width: 100%; }

header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #333;
  position: relative; }
  header #logo {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 100px;
    display: inline-block;
    width: 270px;
    height: 150px;
    background: #0090ff;
    border-radius: 0 0 10px 10px; }
  header > ul {
    position: absolute;
    display: inline-block;
    width: 840px;
    right: 0;
    height: 100px;
    line-height: 100px; }
    header > ul li {
      float: left;
      width: 120px;
      text-align: center;
      list-style: none;
      margin: 0;
      display: inline-block; }
      header > ul li:hover {
        background: #0090ff;
        cursor: pointer; }
        header > ul li:hover > .sub-menu {
          display: block; }
        header > ul li:hover > a {
          display: inline-block;
          width: 100%;
          color: #fff;
          text-decoration: none; }
      header > ul li a {
        color: #fff;
        text-decoration: none; }
    header > ul #current {
      background: #0090ff; }

.sub-menu {
  z-index: 4;
  display: none;
  position: absolute;
  left: 0;
  width: 840px;
  height: 500px;
  background: #333; }
  .sub-menu > div {
    float: left;
    width: 50%;
    height: 100%; }
  .sub-menu #menus {
    border-right: 1px solid #fff; }
    .sub-menu #menus ul li {
      display: block;
      width: 420px;
      height: 40px;
      line-height: 40px;
      text-align: left;
      padding-left: 20px; }
      .sub-menu #menus ul li:hover a {
        color: #fff; }
    .sub-menu #menus ul #currents {
      border-left: 5px solid #0090ff;
      padding-left: 15px; }
      .sub-menu #menus ul #currents:hover a {
        color: #fff; }
      .sub-menu #menus ul #currents a {
        color: #0090ff; }

#slider {
  width: 100%;
  height: 700px;
  background: #999; 
  overflow-y: hidden;
}

#topic {
  z-index: 2;
  width: 100%;
  height: 150px;
  line-height: 150px;
  background: #999;
  color: white;
  font-weight: bold;
  position: relative; 
}

#topic > div{
  float: left;
  display: inline-block;
}

#topic #title-logo{
  position: absolute;
  bottom: -10px;
}

  #topic h1 {
    position: absolute;
    bottom: 0;
    left: 100px;
    font-size: 450%;
    display: inline-block;
    font-family: "canterbury", "Arial", sans-serif; 
  }

#container {
  width: 100%;
  padding: 5% 10%; }
  #container > div {
    float: left;
    width: 330px;
    height: 300px;
    background: #333;
    margin: 5px; }

#containers, #services {
  width: 100%;
  padding: 3% 10%; }

#containers #contacts > div {
  color: #fff;
  float: left;
  width: 340px;
  height: 200px;
  margin: 10px 10px 10px auto;
  background: #999;
  padding: 0 2%; }
  #containers #contacts > div > h1 {
    border-bottom: 1px solid #fff; }

#contents {
  padding: 2.5%;
  width: 100%; }
  #contents > div {
    float: left; }
  #contents #blog {
    width: 80%;
    padding-right: 2.5%; }
    #contents #blog .blog {
      border-bottom: 2px dashed #333; }
      #contents #blog .blog .sub-title {
        color: #0090ff;
        font-weight: bold;
        height: 30px;
        line-height: 30px; }
      #contents #blog .blog .author {
        color: #999;
        margin-bottom: 10px; }
      #contents #blog .blog .blog-footer {
        color: #999;
        margin: 10px 0; }
  #contents #blog-sidebar {
    position: relative;
    width: 20%; }
    #contents #blog-sidebar > div {
      background: #999; }
      #contents #blog-sidebar > div > ul li {
        list-style: none;
        padding-left: 5px; }
        #contents #blog-sidebar > div > ul li a {
          color: #fff; }
      #contents #blog-sidebar > div h1 {
        font-size: 130%;
        height: 30px;
        line-height: 30px;
        color: #fff;
        padding-left: 5px;
        background: #0090ff;
        margin-bottom: 5px; 
}

#demonstrator{
  background: #333;
  padding: 3%;
}

#demonstrator > .snippets{
  float: left;
}

.snippets{
  width: 620px;
  height: 220px;
  /*border: 1px solid #fff;*/
}

.snippets h1{
  font-weight: bold;
  font-size: 150%;
}

.snippets>div{
  float: left;
  display: inline-block;
  color: #fff;
}

.snippets .hidden{
  display: none;
}

.snippets >div:first-child{
  /*border: 1px solid #000;*/
}

.snippets > div:last-child{
  width: 310px;
  /*border: 1px solid #000;*/
}

#dangerous{
  height: 350px;
  width: 100%;
  border-top: 1px solid #999;
  color: #fff;
  text-align: center;
  /*border-bottom: 1px solid #999;*/
}

#dangerous > div{
  /*border: 1px solid #fff;*/
}

#dangerous > div >div{
  float: left;
}

#map {
  width: 100%;
  height: 400px;
  padding: 0; }
  #map > #maps {
    width: 100%;
    height: 400px; }

#services {
  position: relative;
  background: #999; }
  #services > div {
    width: 500px;
    height: 280px;
    background: #fff;
    float: left;
    margin: 0 20px 20px 0;
    padding: 0 2%; }
    #services > div div {
      color: #333; }
      #services > div div span {
        color: #0090ff; }
      #services > div div ul li {
        list-style: square; }
    #services > div > h1 {
      border-bottom: 1px solid #999; }

.title {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 20px; }

#footer {
  width: 100%;
  background: #333;
  padding: 5%; }

#footer-container {
  position: relative;
  width: 100%;
  color: #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999; }
  #footer-container > div {
    float: left;
    width: 400px;
    height: 250px;
    overflow: hidden;
    margin-right: 4px;
    text-align: center; }
    #footer-container > div:nth-child(1) {
      text-align: left; }
    #footer-container > div:nth-child(3) {
      text-align: right; }

.footer-title {
  color: #fff;
  font-size: 130%;
  padding: 5%; }

.colophon {
  position: absolute;
  width: 150px;
  height: 50px;
  bottom: 19px;
  right: 67px; }
  .colophon:hover {
    cursor: pointer; }
    .colophon:hover #pop-up {
      display: block; }
  .colophon #pop-up {
    display: none;
    width: 150px;
    height: 30px;
    line-height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -35px;
    border-bottom: 3px solid #1E90FF; }
    .colophon #pop-up .arrow {
      position: absolute;
      left: 65px;
      display: block;
      width: 5px;
      height: 5px;
      border-top: 5px solid #1E90FF;
      border-bottom: 5px solid transparent;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent; }

/*# sourceMappingURL=main.css.map */
